# Generate a key as follows: `openssl rand -base64 32`
SESAME_APP_SECRET=""

#####################################
#  Authentication
#####################################
# Session expiry time (defaults to 1 year)
SESAME_TOKEN_EXPIRY=525600
SESAME_MAX_LOGIN_ATTEMPTS = 5
SESAME_RATE_LIMIT_WINDOW_MINUTES = 15

#####################################
#  Database
#####################################
# Enter your database credentials here
SESAME_DATABASE_ADMIN_USER=""
SESAME_DATABASE_ADMIN_PASSWORD=""
SESAME_DATABASE_NAME="sesame"
SESAME_DATABASE_HOST=""
# - Use a session port (typically 5432)
SESAME_DATABASE_PORT=5432

# --- Optional
SESAME_DATABASE_USER="sesame"
# >>> Place SESAME_DATABASE_PASSWORD="" here

SESAME_DATABASE_PROTOCOL="postgresql"
# Echo SQL alchemy queries to stdout (recommended for debugging)
# Set to 1 to enable echo 
SESAME_DATABASE_ECHO_OUTPUT=0 
# Enable reflection (recommended for production)
# Set to 1 to enable reflection
SESAME_DATABASE_USE_REFLECTION=0 

#####################################
#  WEBAPP / FastAPI
#####################################
SESAME_WEBAPP_LOG_LEVEL=INFO
# Show publically accessible Sesame dashboard at root URL. Set to 0 (or remove) to hide.
SESAME_SHOW_WEB_UI=1

#####################################
#  Bots
#####################################
SESAME_BOT_LOG_LEVEL=INFO
# --- Optional
# Maximum duration of a voice session (in seconds)
# Note: recommended to always set a max time to avoid transport session remaining open
SESAME_MAX_VOICE_SESSION_TIME=900

#####################################
#  Storage
#####################################
SESAME_STORAGE_URL=""
SESAME_STORAGE_BUCKET=""
SESAME_STORAGE_KEY=""

#####################################
#  Default Service API keys
#####################################
# Note: api keys set in user workspace config take priority

# Transport API key (for realtime media transfer)
DAILY_API_KEY=
DAILY_API_URL=https://api.daily.co/v1
# Use set room name vs. create on each session
DAILY_USE_DEBUG_ROOM=

# --- Optional

# LLM
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
TOGETHER_API_KEY=

# Text-to-speech & Speech-to-text
CARTESIA_API_KEY=
ELEVENLABS_API_KEY=
DEEPGRAM_API_KEY=
AZURE_API_KEY=