{% extends "layout.html" %} {% block content %}
<div id="app">
  <section class="hero is-primary">
    <div class="container">
      <div class="hero-body">
        <h1 class="title">Sesame Dashboard</h1>
        <button
          v-if="isAuthenticated"
          class="button is-primary is-dark"
          @click="this.handleLogout()"
        >
          Signout
        </button>
      </div>
    </div>
  </section>

  <div v-if="isMounting" class="loader"></div>

  <template v-else>
    <div class="container">
      {% include 'login.html' %} {% include 'tokens.html' %} {% include
      'services.html' %}
    </div>
  </template>
</div>
{% endblock %} {% block scripts %}
<script type="text/javascript">
  const { createApp } = Vue;

  createApp({
    delimiters: ["${", "}$"],

    data() {
      return {
        isMounting: true,
        email: "",
        password: "",
        responseMessage: "",
        isFetching: false,
        isFetchingTokens: false,
        isFetchingServices: false,
        isRevoking: null,
        isAuthenticated: false,
        token: null,
        tokens: [],
        availableServices: [],
        isModalActive: false,
        isCreateTokenModalActive: false,
        tokenName: "",
      };
    },

    mounted() {
      if (localStorage.getItem("user")) {
        const user = JSON.parse(localStorage.getItem("user"));
        this.token = user.token;
        this.isAuthenticated = true;
        this.start();
      }
      this.isMounting = false;
    },

    methods: {
      async start() {
        this.fetchTokens();
        this.fetchServices();
      },

      generateQRCode(token) {
        this.isModalActive = true;
        this.$nextTick(() => {
          const qr = new QRious({
            element: document.getElementById("qr-code"),
            value: JSON.stringify({
              baseUrl: window.location.origin,
              token: token,
            }),
            size: 256,
          });
        });
      },

      async handleLogin() {
        this.isAuthenticated = false;
        this.isFetching = true;
        this.responseMessage = "";
        try {
          const response = await fetch("/api/users/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              email: this.email,
              password: this.password,
            }),
          });

          if (!response.ok) {
            const errorData = await response.json();
            throw new Error(errorData.detail || "Unknown error occurred");
          }

          const data = await response.json();

          // Update local storage to fake 'login'
          localStorage.setItem("user", JSON.stringify(data));

          if (!data.token) {
            throw new Error("User has no associated auth tokens.");
          }

          this.token = data.token;
          this.isAuthenticated = true;
          this.start();
        } catch (error) {
          this.responseMessage = error.message || "Unknown error occurred";
          this.isAuthenticated = false;
        } finally {
          this.isFetching = false;
        }
      },

      async handleLogout() {
        localStorage.removeItem("user");
        this.isAuthenticated = false;
        this.token = null;
        this.tokens = [];
      },

      async fetchServices() {
        this.isFetchingServices = true;

        try {
          const response = await fetch("/api/services/supported", {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${this.token}`,
            },
          });

          if (!response.ok) {
            throw new Error();
          }
          const data = await response.json();
          this.availableServices = data;
        } catch (error) {
          console.error(error);
        } finally {
          this.isFetchingServices = false;
        }
      },

      async fetchTokens() {
        this.isFetchingTokens = true;
        try {
          const response = await fetch("/api/users/tokens", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${this.token}`,
            },
          });

          if (!response.ok) {
            throw new Error();
          }
          const data = await response.json();
          this.tokens = data.tokens;
        } catch (error) {
          if (this.tokens.length <= 1 || !tokenId) {
            this.responseMessage =
              "Tokens revoked. Log in to create new token.";
          } else {
            this.responseMessage = "Incorrect Email or password";
          }
          this.isAuthenticated = false;
        } finally {
          this.isFetchingTokens = false;
        }
      },

      async createToken() {
        this.isCreateTokenModalActive = false;
        this.isFetchingTokens = true;
        try {
          const response = await fetch("/api/users/token", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${this.token}`,
            },
            body: JSON.stringify({
              title: this.tokenName,
            }),
          });

          if (!response.ok) {
            throw new Error();
          }
          const data = await response.json();
          this.fetchTokens();
        } catch (error) {
          console.error(error);
        } finally {
          this.isFetchingTokens = false;
          this.tokenName = "";
        }
      },
      async revokeToken(tokenId) {
        if (tokenId) {
          this.isRevoking = tokenId;
        } else {
          this.isFetchingTokens = true;
        }

        if (this.tokens.length <= 1 || !tokenId) {
          alert(
            "Removing all tokens will log you out. Logging back in will generate a new token."
          );
        }

        try {
          const response = await fetch("/api/users/revoke_token", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${this.token}`,
            },
            body: JSON.stringify({
              token: tokenId,
            }),
          });

          if (!response.ok) {
            throw new Error();
          }
          const data = await response.json();
          this.fetchTokens();
        } catch (error) {
          console.error(error);
        } finally {
          this.isRevoking = null;
          this.isFetchingTokens = false;
        }
      },
      async copyToken(token, event) {
        const button = event.target.closest("button");
        const textSpan = button.getElementsByTagName("span")[1];
        textSpan.textContent = "Copied!";
        try {
          await navigator.clipboard.writeText(token);
        } catch (err) {
          console.error("Failed to copy: ", err);
        }

        setTimeout(() => {
          textSpan.textContent = "Copy";
        }, 3000);
      },
    },
  }).mount("#app");
</script>
{% endblock %}
