<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sesame Dashboard</title>
    <script src="https://unpkg.com/vue@3.5.12"></script>
    <script src="https://unpkg.com/qrious@4.0.2/dist/qrious.min.js"></script>
    <script src="https://unpkg.com/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fontawesome-free-6.2.1@6.2.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>
  <body>
    {% block content %}{% endblock %} {% block scripts %}{% endblock %}
  </body>
</html>
